* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.divBack {
    width: 100%;
    height: 100%;
    background-color: #2563EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 25px;
    align-items: center;
    padding-top: 35px;
}

.divCont {
    padding: 20px;
}

.NOTA {
    display: block;
    float: left;
    top: -55px;
    padding-left: 15px;
}

.perfilFoto {
    display: block;
    float: right;
    bottom: -3px;
    left: 0px;
}

.sticked {
    position: sticky;
}

.inputradio {
    background-color: rgb(44, 46, 209);
    border-radius: 22px;
}

.perfilFoto img {
    position: relative;
    display: block;
    float: right;
    bottom: -3px;
    left: 0px;
    width: 82px;
    height: 80px;
    margin-right: 8px;
}

.userLogo {
    display: block;
    float: left;
    top: -55px;
}

.userLogos {
    display: block;
    width: 30px;
    position: relative;
    float: right;
}

.overflow {
    height: auto;
}

.over {
    position: relative;
    left: 3px;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 13px;
}

.divDato {
    overflow-y: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F3F4F6;
    color: rgb(156, 156, 156);
    font-size: 20px;
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 4px 5px 15px -6px rgb(182, 169, 169);
}

.grayH {
    width: 20%;
    margin-top: 1px;
    background-color: #2563EB;
    border: 0.1px solid #2563EB;
    border-radius: 5px;
}

.camera {
    font-size: 40px;
}

div button {
    margin-top: 0px;
    border: 2px solid #2563EB;
    width: 50%;
    color: #2563EB;
    font-family: bold;
    font-size: 20px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    padding-top: 10px;
    ;
}

.ig {
    width: 200px;
    height: 200px;
    margin-top: 25px;
    border-radius: 90%;
}

.titulo {
    background-color: #2563EB;
    color: antiquewhite;
    position: relative;
    left: 70px;
}