.divBackground {
    width: 100%;
    height: 100%;
    background-color: rgb(97, 20, 97);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 25px;
    align-items: center;
    padding-top: 50px;
}

.divDatos {
    background-color: white;
    font-size: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 50px;
}

.grayHr {
    width: 25%;
    margin-top: 1px;
    background-color: rgb(50, 192, 235);
    border: 0.5px solid rgb(17, 155, 219);
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form select {
    margin-top: 10px;
    background-color: rgb(209, 175, 209);
    border-radius: 15px;
    border: 1px solid purple;
    padding: 5px;
}

form input {
    border: 1px solid #d9d9d9;
    margin-top: 10px;
    border-radius: 15px;
    padding: 5px;
}

.boton {
    position: sticky;
    color: white;
    font-family: bold;
    font-size: 20px;
    padding: 10px;
    width: 110px;
    height: 110px;
    border-radius: 0px;
    color: red;
}

.bort {
    display: flex;
    justify-content: space-around;
}

.tittle{
    margin-top: 22px;
    display:flex;
    width: 100%;
    justify-content: center;
}

.tittle .lav {
    font-size: medium;
    top: 22px;
    width: auto;
    text-align: center;
}

.divCont {
    padding: 20px;
    position: relative;
    top: 0px;
    padding-top: 22px;
}

.form {
    padding: 0px;
}

.nivelconj {
    padding: 0px;
}

.progressbar {
    height: 10px;
    border-radius: 12px;
}