.divBackground{
    width: 100%;
    height: 100%;
    background-color: rgb(97, 20, 97);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 25px;
    align-items: center;
    padding-top: 50px;
}

.divDatos{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    font-size: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 50px;
    align-items: center;
}

.res{
    margin-top: 10px;
}

.grayHr{
    width: 25%;
    margin-top: 1px;
    background-color: gray; 
    border: 2px solid gray;
    border-radius: 5px;
}

.purpleHr{
    margin-top: 10px;
    background-color: purple; 
    border: 2px solid purple;
    border-radius: 5px;
}

label{
    font-family: normal;
    margin-top: 10px;
    text-align: center;
}

select{
    margin-top: 10px;
    background-color: rgb(209, 175, 209);
    border-radius: 15px;
    border: 1px solid purple;
    padding: 5px;
}

input{
    border: 1px solid #d9d9d9;
    margin-top: 10px;
    border-radius: 15px;
    padding: 5px;
}

.divBackground button{
    margin-top: 25px;
    color: white;
    font-family: bold;
    font-size: 20px;
    background-color: rgb(97, 20, 97);
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px;
}

div img{
    border-radius: 50%;
}