* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.fondo {
    background-color: #2563EB;
}

.screen {
    display: flex;
    background-color: #FFF;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}

.screenInicio {
    display: flex;
    background-color: #FFF;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    border: 15px solid #2563EB;
    border-radius: 25px;
    padding: 10px;
}

.screenInicio label {
    color: #2563EB;
    font-weight: bold;
    font-size: large;
}

.screenInicio p {
    text-align: center;
    color: #2563EB;
    font-size: large;
}

.container {
    width: 100%;
}

.link {
    background-color: transparent;
    color: transparent;
    display: flex;
    justify-content: center;
    width: 100%;
}

.btnRelleno {
    color: white;
    border-radius: 10px;
    width: 50%;
    font-size: 20px;
    font-family: bold;
    background-color: #2563EB;
    border: 2px solid white;
    padding: 10px;
}

:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}


/* 
injcdetgrjt */

.border {
    text-align: center;
}

ion-slides {
    height: 100%;
    border-radius: 30px;
}

swiper-slide {
    display: block;
}

swiper-slide h2 {
    margin-top: 2.8rem;
}

swiper-slide img {
    max-height: 50%;
    max-width: 80%;
    margin: 60px 0 40px;
    pointer-events: none;
    background-color: red;
}

b {
    font-weight: 500;
}

p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
}

p b {
    color: var(--ion-text-color, #000000);
}