* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.fondo{
    background-color: #2563EB;
}

.screen {
    display: flex;
    background-color: #FFF;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}

.screenInicio {
    display: flex;
    background-color: #FFF;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    border: 15px solid #2563EB;
    border-radius: 25px;
    padding: 10px;
}

.screenInicio label {
    color: #2563EB;
    font-weight: bold;
    font-size: large;
}

.screenInicio p {
    text-align: center;
    color: #2563EB;
    font-size: large;
}

.container {
    width: 100%;
}

.link {
    background-color: transparent;
    color: transparent;
    display: flex;
    justify-content: center;
    width: 100%;
}

.btnRelleno {
    color: white;
    border-radius: 10px;
    width: 50%;
    font-size: 20px;
    font-family: bold;
    background-color: #2563EB;
    border: 2px solid white;
    padding: 10px;
}

.tool{
    display:flex;
    flex-direction: column;
}