.cardSheep {
    display: flex;
    flex-direction: column;
    width: 90%;
    box-shadow: 2px 5px 15px -6px black;
    padding: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    margin-left: 15px;
}

.cardSheep hr {
    width: 100%;
    margin-top: 5px;
    background-color: rgb(27, 105, 221);
    border: 0px solid gray;
    border-radius: 5px;
}